svg text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
svg text::selection {
    background: none;
}

.node-id {
    font-size: 20px;
    font-weight: regular;
    fill: #000;
}

.node-circle {
    stroke: #000;
    stroke-width: 0.1px;
    fill: lightblue;
}

.graph-edge {
    stroke: white;
    stroke-width: 1.5px;
}