svg text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
svg text::selection {
    background: none;
}

.node-id {
    font-size: 0.2em;
    font-weight: regular;
    fill: #000;
}